#main-nav { 
  padding-top: 9px;
  box-shadow: 0px 1px 3px #d3d3d3;
  /* background-color: rgb(238, 241, 247); */
  background-color: skyblue;
}

#main-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d3d3d3;
  color: gray;
  text-align: center;
}

.main-body{
    padding-top: 30px;
}

.body-text-gray{
    color:#A9A9A9;
}

.icon-white{
    color: #fff;
}

#left-pane{
    background-color:white;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 300px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px;
    align-items: center;
  }
.story{
    padding-top:20px;
}

.story-img{
    border-radius:100%;
    border: 5px dashed skyblue;
    width: 80px;
    height: 80px;
}

#center-pane{
    padding-left: 125px;
    align-items: center;
}

.feed{
    width:700px;
    height:600px;
    /* border: 1px solid #d3d3d3; */
    border-radius:25px;
    /* box-shadow: 0px 0px 10px #d3d3d3; */
    box-shadow: 0px 0px 7px skyblue;

}
.feed-head{
    padding-top:20px;
    height:10px;
}
.feed-photo{
    height:300px;
}
.feed-img{
    padding-top:40px;
    height: auto;
    width:700px;
}
.feed-react{
    height:100px;
    padding-left: 40px;
    padding-top:220px;
    align-items: center;
}
.input-comment{
    padding-top: 15px;
    padding-left: 15px;
}


#right-pane{
    padding-right: 80px;
    background-color:white;
    height:600px;
}


